:root {
    --grey-light: #b7b7b7;
    --white: #f6f6f6;
    --grey-dark: #282828b3;
    --background-grey: #303030;
    --background-grey-alpha: #303030f2;
    --grey-black: #181818;
    --golden: #c99f6b;
    /* lighter purple gray  #5D576B // purple as jacket #54273D alebo darker #462032  // eggplant #6c464e */
    --golden-border: 1px solid var(--golden);

    --box-shadow-big: 0px 8px 7px 0px #00000040;
    --box-shadow-small: 1.95px 1.95px 2.6px #00000026;

    --icon-size: 50px;
    --icon-padding: 15px;
}

@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -1em;
        transform: translateZ(-800px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes fade-out-bck {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-80px);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--white);
    background: var(--background-grey);
    background-image: url('assets/rm218batch7-aum-27a.jpg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-size: cover;
    /* background-blend-mode: lighten; */
}

.container {
    max-width: 1000px;
    margin: 0 auto 100px auto;
}

.nav {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    z-index: 100;
    background-color: var(--background-grey-alpha);
    border: var(--golden-border);
    border-radius: 8px;
    margin: 25px auto 0 auto;
    color: var(--white);
    box-shadow: var(--box-shadow-big);
}

.nav.sticky {
    position: fixed;
    opacity: 0.95;
    left: 0;
    right: 0;
    margin: 15px auto 0 auto;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: inherit;
    font-weight: 400;
}

.nav__link {
    white-space: nowrap;
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

.header {
    padding: 0 20px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 165px;
}

.header__title {
    margin: auto;
    text-align: center;
}

.focus-in-expand-fwd {
    animation: focus-in-expand-fwd 1s cubic-bezier(0, 0.46, 0.45, 0.94) 1s both;
}

.fade-out-bck {
    animation: fade-out-bck 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.btn--scroll-to {
    cursor: pointer;
    box-sizing: initial;
    border: none;
    margin-bottom: 95px;
}

h1 {
    font-size: 64px;
    color: var(--golden);
    font-weight: 400;
    line-height: 75px;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    color: var(--white);
    line-height: 30px;
    letter-spacing: 0.6em;
    margin-right: -0.6em;
}

h4 {
    font-weight: 400;
    color: var(--white);
}

.section {
    padding: 75px 25px 0 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: transform 1s, opacity 1s;
}

.section__title {
    color: var(--golden);
    font-weight: 300;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

#projects {
    position: relative;
}

/* .divider {
    position: absolute;
    top: 0;
    width: 100vw;
    border-top: 7px solid var(--golden);
} */

/* #about-me {
    background-color: var(--golden);
} */

.project--other {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project--christmas-wishlist {
    margin-bottom: 25px;
}

.christmas-wishlist__body {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto auto;
    gap: 30px;
}

.chrismas-wishlist-mobile {
    width: 100%;
}

.christmas-wishlist__body__part1 {
    padding-right: 50px;
    margin: auto;
}

.christmas-wishlist-desktop {
    width: 100%;
    justify-self: end;
}

.christmas-wishlist__body__part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.project--other__mozaic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 25px;
}

.gif {
    border: 2px solid var(--golden);
    border-radius: 8px;
    box-shadow: var(--box-shadow-big);
}

.guess-number {
    width: 75%;
}

.bankist-app {
    width: 100%;
}

.pig-game {
    width: 90%;
}

.bankist-landing {
    width: 80%;
}

.mapty {
    width: 100%;
}

.section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3em;
}

.column-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.content-about-me {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 65px;
}

.picture {
    align-self: center;
    height: 175px;
    border-radius: 50%;
    margin: 0 25px;
    border: var(--golden-border);
    box-shadow: var(--box-shadow-big);
}

.about-me-article {
    padding: 0 25px;
    /* font-size: 0.9em; */
    /* font-weight: 400; */
}

.cross-link {
    color: var(--golden);
}

.technologies {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    padding: var(--icon-padding) 0;
    box-shadow: var(--box-shadow-big);
    border-radius: 8px;
    background-color: #b7b7b7c0;
}

.technologies--christmas {
    flex-wrap: wrap;
    padding: var(--icon-padding);
    gap: var(--icon-padding);
    /* padding + icon + gap + icon + padding */
    max-width: calc(var(--icon-size) * 2 + var(--icon-padding) * 3);
}

.technology {
    width: var(--icon-size);
    height: var(--icon-size);
}

.content-contact {
    margin-top: 25px;
    background-color: var(--background-grey-alpha);
    border-radius: 8px;
    width: 60%;
    align-self: center;
    border: var(--golden-border);
    box-shadow: var(--box-shadow-big);
}

.actions {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.actions__button {
    transform: translateY(-50%);
    padding: 10px;
    box-sizing: initial;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--grey-light);
    /* border: var(--golden-border); */
    border-radius: 50%;
    box-shadow: var(--box-shadow-small);
}

.actions__button:hover {
    background-color: var(--golden);
}

.actions__button--active {
    background-color: var(--golden);
    transform: translateY(-60%);
    box-shadow: var(--box-shadow-big);
}

.contact-text-container {
    height: 60px;
    display: grid;
    place-items: center;
}

.content-contact__link {
    display: none;
}

.content-contact__link .link {
    padding: 5px 20px;
}

.content-contact__link .link:hover {
    background-color: var(--grey-dark);
}

.content-contact__link--active {
    display: grid;
    place-items: center;
    padding-bottom: 45px;
}

.link {
    border: none;
    cursor: pointer;
    background: inherit;
    font: inherit;
    position: relative;
    padding: 2px 10px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--golden);
}

.link:hover {
    background-color: var(--background-grey);
}

.link img {
    height: 15px;
    width: 15px;
    transform: translateY(15%);
}

.content-contact__link .link__to-copy {
    display: flex;
    gap: 5px;
}

.hidden {
    display: none;
}
