:root {
    --grey-light: #b7b7b7;
    --smudge-grey: #eaeaea;
    --grey-middle: #3c393b;
    --background-grey: #303030;
    --grey-black: #181818;
    --golden: #d6b277;
    /* lighter purple gray  #5D576B // purple as jacket #54273D alebo darker #462032  // eggplant #6c464e */
    --golden-border: 2px solid var(--golden);
}

@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -1em;
        transform: translateZ(-800px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes fade-out-bck {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-80px);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--grey-light);
    background: var(--background-grey);
    position: relative;
}

.background {
    background-image: url('/assets/memphis-dark.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 900px;
    margin: 0 auto 100px auto;
}

.nav {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    z-index: 100;
    background-color: #303030f2;
    border: 3px solid var(--golden);
    border-radius: 50px;
    margin: 15px auto 0 auto;
    color: var(--smudge-grey);
}

.nav.sticky {
    position: fixed;
    opacity: 0.95;
    left: 0;
    right: 0;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: inherit;
    font-weight: 400;
}

.nav__link {
    white-space: nowrap;
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

.header {
    padding: 0 20px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.focus-in-expand-fwd {
    animation: focus-in-expand-fwd 1s cubic-bezier(0, 0.46, 0.45, 0.94) 1s both;
}

.fade-out-bck {
    animation: fade-out-bck 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.btn--scroll-to {
    cursor: pointer;
    box-sizing: initial;
    border: none;
    margin-top: 75px;
}

h1 {
    font-size: 60px;
    color: var(--golden);
    font-weight: 200;
}

h3 {
    font-size: 30px;
    font-weight: 300;
    color: var(--smudge-grey);
}

h4 {
    font-weight: 400;
    color: var(--smudge-grey);
}

.section {
    padding: 75px 25px 0 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: transform 1s, opacity 1s;
}

.section__title {
    color: var(--golden);
    font-weight: 300;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.project--other {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project--christmas-wishlist {
    margin-bottom: 25px;
}

.christmas-wishlist__body {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto auto;
    gap: 30px;
}

.chrismas-wishlist-mobile {
    width: 100%;
    border: var(--golden-border);
    border-radius: 50px;
}

.christmas-wishlist__body__part1 {
    padding-right: 50px;
    margin: auto;
}

.christmas-wishlist-desktop {
    width: 100%;
    justify-self: end;
    border: var(--golden-border);
    border-radius: 50px;
}

.christmas-wishlist__body__part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.project--other__mozaic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 25px;
}

.gif {
    border: var(--golden-border);
    border-radius: 50px;
}

.guess-number {
    width: 75%;
}

.bankist-app {
    width: 100%;
}

.pig-game {
    width: 90%;
}

.bankist-landing {
    width: 80%;
}

.mapty {
    width: 100%;
}

.section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3em;
}

.column-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.content-about-me {
    flex-direction: row;
}

.picture {
    align-self: center;
    height: 150px;
    border-radius: 50px;
    margin: 0 25px;
    border: var(--golden-border);
}

.about-me-article {
    padding: 0 25px;
    font-size: 0.9em;
    font-weight: 400;
}

.cross-link {
    color: var(--golden);
}

.technologies {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 15px 0;
}

.technology {
    max-width: 50px;
}

.content-contact {
    margin-top: 25px;
    background-color: var(--grey-black);
    border-radius: 50px;
    width: 60%;
    align-self: center;
    border: var(--golden-border);
}

.actions {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.actions__button {
    transform: translateY(-50%);
    padding: 10px;
    box-sizing: initial;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--grey-light);
    border: var(--golden-border);
    border-radius: 50px;
}

.actions__button:hover {
    background-color: var(--golden);
}

.actions__button--active {
    background-color: var(--golden);
    transform: translateY(-60%);
}

.contact-text-container {
    height: 60px;
    display: grid;
    place-items: center;
}

.content-contact__link {
    display: none;
}

.content-contact__link .link {
    padding: 5px 20px;
}

.content-contact__link--active {
    display: grid;
    place-items: center;
    padding-bottom: 45px;
}

.link {
    border: none;
    cursor: pointer;
    background: inherit;
    font: inherit;
    position: relative;
    padding: 2px 10px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--golden);
}

.link:hover {
    background-color: var(--grey-middle);
}

.link img {
    height: 15px;
    width: 15px;
    transform: translateY(15%);
}

.content-contact__link .link__to-copy {
    display: flex;
    gap: 5px;
}

.hidden {
    display: none;
}
